/* _____________/ tailwindcss css \_____________ */

@import "tailwindcss";

/* ____________________________ */

/* _____________/ root css \_____________ */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0d6efd;
  --secondary: #283c47;
  --primary2: #0d6dfdb3;
  --danger: #d60000;
  --green: #00bd9d;
  --yellow: #ffbc0a;
  --orange: #f1963b;
  --blue: #32ccff;
  --cyan: #25a0e2;
}
/* _____________/ body css \_____________ */

body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  box-sizing: border-box; */
  direction: rtl;
}

/* _____________/ \_____________ */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
